.Bot-icon{
    position: fixed;
    z-index: 16777271;
    height: 2.5em;
    width: 2.5em;
    color: #005A74;
    bottom: 45%;
    right: .5%;
}

.bot{
    position: fixed;
    z-index: 16777271;
    color: #f9f895;
    right: .25%;
    width: 22%;
    height: 50%;
    bottom: 0;


}

.headerData{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25em;
    background-color: #005A74;
    height: 9%;
}

.headerName{
    padding-top: 2%;
    padding-left: 2%;
    float: left;
}

.headerClose{
    padding-top: 2%;
    padding-right: 2%;
    float: right;
}

.body{
    overflow-y: scroll;
    height: 81%;
    border: .2rem solid #005A74;
}

#bodyMessages{
    color: black;
}

.requestMessage{
    margin: .5em;
    float: right;
    background-color: #DEEAF2;
    border-radius: .3em;
}

.receivedMessage{
    margin: .5em;
    float: left;
    background-color: #DEEAF2;
    border-radius: .3em;
    z-index: 5;
}

.messageData{
    padding: .5em;

}

.footerChatInput{
    bottom: .25%;
    width: 98%;
    margin-left: 1%;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
}

.footer{
    background-color: #005A74;
    height: 20%;
    border-top: 2px solid #005A74;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25em;
}